<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>
  <header>
    <h1>Electronics Shop</h1>
  </header>

  <div class="navbar">
    <nav>
      <a href="/shop">Go to shop</a>
      <a href="/cart">Your cart</a>
      <a href="/logout">Logout</a>
    </nav>
  </div>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>

</html>
