<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">

  <style>
    .button-container {
      text-align: center;
    }

    .button {
      background-color: red;
    }

    .button::hover {
      background-color: rgb(199, 4, 4);
    }
  </style>
</head>

<body>
  {% extends 'base.html' %}

  {% block content %}
  <div class="form-container">
    <h1>Sign In</h1>
    <form method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>

      <input type="submit" value="Sign In">
    </form>

    <div class="button-container">
      <a href="/signup" class="button">Don't have an account?</a>
    </div>
  </div>
  {% endblock %}
</body>

</html>
